*, *::before, *::after {
  box-sizing: border-box;
}


body {
    background-color: beige;
}


.box {
    /* border: 1px solid black; */
}

.row {
    margin: 10px 0px;
}

.item-price {
    margin-left: 50px;
}

p > .card-title {
    display: inline;
}

.name-price {
    display: flex;
    justify-content: space-between;
}