/* -- CSS Variables and Colors -- */
:root {
    --main-bg-color: rgb(255,255,255);              /* white */
    --main-bg-color-alt: rgb(229,231,216);          /* gainsboro */
    --main-bg-color-alt-1: beige;

    --text-highlight-color: rgb(181,92,0);          /* darkgoldenrod */
    --text-highlight-color-alt_1: rgb(175,84,0);    /* saddlebrown */
    --text-highlight-color-alt-2: rgb(156,77,32);   /* sienna */
    --text-highlight-color-alt-3: #833611;

    --tribal-bg: rgb(198,191,180);                  /* silver */
    --border-color: grey;
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
    background-color: var(--main-bg-color-alt);
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.wrapper {
    /* max-width: fit-content; */
}

.header {
    padding: 0;
}

.tribal {
    filter: invert(30%);
    -webkit-filter: invert(30%);
    opacity: 0.5;
    max-width: 1125px;
    /* max-width: 100%; */
    /* width: 100%; */
    /* margin: auto; */
}

.icon-header {
    justify-content: center;
}

.logo {
    /* height: 300px;  for computer screen */
    /* height: 200px;  for phone screen */
    max-height: 200px;  /* for phone screen */
    justify-content: center;
    z-index: 1;
}

.box {
    margin: 5px 0px;
    /* height: 200px; */
}

.card {
    height: 200px;  /* ? */
}

.row {
    margin: 10px 0px;
}

.item-price {
    color: var(--text-highlight-color);
}


p > .card-title {
    display: inline;
}

.name-price {
    display: flex;
    justify-content: space-between;
}

.name-price-1 {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid var(--text-highlight-color);
}

.small-plates, .large-plates, .khachapuri {
    border: 2px dotted grey;
    /* border: 2px dashed grey; */
    /* border: 2px solid grey; */
    border-radius: 15px;
}

.khachapuri {
    margin: 50px 0;
}

.khachapuri-subtitle {
    /* position: relative; */
}

.k-subtitle {

}

.cold-share, .hot-share {
    margin-top: 50px;
}

.menu-subtitle {
    justify-content: center;
    /* font-weight: Bold 700; */
    color: var(--text-highlight-color);
}

.menu-header {
    font-weight: 800;
    font-size: 1.8rem;
}

.menu-title {
    z-index: 1;
    font-weight: 800;
    font-size: 1.8rem;
    border: 2px solid var(--text-highlight-color);
    padding: 10px 20px;
}

.special {
    background-color: black;
    color: var(--text-highlight-color);
    font-size: small;
    font-weight: 700;
    padding: 3px 5px;
    margin-bottom: 0.7rem;
}

.footer {

}


.food-warning {
    justify-content: center;
}



/* ----------- Non-Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    body {
        background-color: var(--main-bg-color);
    } 

    .card {
        background-color: var(--main-bg-color);
        border: none;
    }
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
    body {
        background-color: var(--main-bg-color);
    }

    .card {
        background-color: var(--main-bg-color);
        border: none;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
    .tribal {
        filter: invert(30%);
        -webkit-filter: invert(30%);

        position: fixed;
        top: 5;
    }
}


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
    .tribal {
        filter: invert(30%);
        -webkit-filter: invert(30%);

        position: fixed;
        top: 5;
    }
}


/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
    .tribal {
        filter: invert(30%);
        -webkit-filter: invert(30%);

        position: fixed;
        top: 5;
    }
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    .tribal {
        filter: invert(30%);
        -webkit-filter: invert(30%);

        position: fixed;
        top: 5;
    }
}


/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) {
    .tribal {
        filter: invert(30%);
        -webkit-filter: invert(30%);

        position: fixed;
        top: 5;
    }
}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
    .tribal {
        filter: invert(30%);
        -webkit-filter: invert(30%);

        position: fixed;
        top: 5;
    }
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {
    .tribal {
        filter: invert(30%);
        -webkit-filter: invert(30%);

        position: fixed;
        top: 5;
    }
}
